<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a Senior Software Engineer leaving In Belgium and working at GFI Informatique, France, having previously spent over 10 years as a Software Engineer at Atos and Aubay.Promotic what gave me a good experience either to work in team of up to 100 persons or alone and directly with a product owner or final users. <br/><br/>
      I am a hunger for learning, self improvement and always have a willingness to accept constructive criticism, able to
      work as both a self guided team member or project team leader. I enjoy creating great products with great user experiences and working in a dynamic environment with a focus on good development practices, automation and shipping small, frequent releases.
		</div>
		<br>
	</div>
</div>
